@include desde($large)
{
  .contact
  {
    display: flex;
    justify-content: space-between;
    font-size: .85em;
    &-data,&-form-container
  {

      width: 49%;
    }
  }
}



//contenedor del data
.contact-data
{
  .contact-address,.contact-phone
  {
    opacity: .8;
    color: $color2;
    //solo a los iconos
    &:before
    {
      margin-right: .5em;
      position: relative;
      top: 3px;
    }

  }

}
.contact-form-container
{
  input, textarea {
    width: 100%;
    line-height: 1.7;
    border: 1px solid ($black,.25);
    margin-bottom: .8em;
  }
  label{
    font-size: .8em;
    opacity: .6;
  }
  [type="submit"]
  {
    text-transform: uppercase;
    margin: 0;
    line-height: 3;
    width: auto;
    border: 0;
    cursor: pointer;
    &:hover{
      transition: 1s all linear;
      transform: scale(1.1);
    }
  }
}